.homeContainer {
  font-size: 1rem;
  line-height: 1.3;
  text-align: left;
  background-color: #fbf7ed;
}

.homeContentContainer {
  text-align: center;
}

.homeTitle,
.tagline,
.quickConvertContainer,
.sectionContainer {
  max-width: 90%;
}

.quickConvertTitle {
  color: #1e4c3f;
  font-size: 2rem;
}
.homeTitle,
.tagline {
  margin: 0 auto;
  text-align: center;
}

.titleContainer {
  padding-top: 4rem;
}
.homeTitle {
  font-size: 2.2rem;
  color: #1e4c3f;
}

.tagline {
  font-style: italic;
  font-size: 1.2rem;
  padding: 0.5rem 0 2rem 0;
}

.quickConvertContainer,
.sectionContainer {
  margin: 0 auto;
}

.quickConvertContainer {
  padding: 1rem 0 1rem 0;
}

.sectionContainer {
  padding: 1rem 0 3rem 0;
}

.quickConvertResult {
  text-align: left;
  margin-left: 2rem;
}

.colorSectionNavContainer {
  padding-top: 2rem;
  background-color: white;
  padding-bottom: 1rem;
}

.linkBtn {
  border: 1px solid #388161;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  background-color: #388161;
  color: white;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.linkBtn:hover {
  cursor: pointer;
  background-color: #1e4c3f;
}

@media screen and (min-width: 550px) {
  .homeTitle,
  .tagline,
  .quickConvertContainer,
  .sectionContainer {
    max-width: 80%;
  }
}

@media screen and (min-width: 700px) {
  .homeTitle,
  .tagline,
  .quickConvertContainer,
  .sectionContainer {
    max-width: 70%;
  }
}

@media screen and (min-width: 930px) {
  .sectionNavContainer {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
  }

  .sectionNavContainer section {
    flex-grow: 1;
    width: 33%;
  }
}

@media screen and (min-width: 1000px) {
  .homeTitle,
  .tagline,
  .quickConvertContainer,
  .sectionContainer {
    max-width: 60%;
  }

  .sectionNavContainer {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .sectionNavContainer {
    width: 85%;
  }
}
