.quickConvertContainer {
  font-size: 1rem;
}

.input {
  margin: 0 auto;
  margin-bottom: 0.7rem;
  width: 80%;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  border-style: solid;
  padding: 0.3rem;
}

.convertButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #388161;
  border-radius: 5px;
  background-color: #388161;
  color: white;
  letter-spacing: 0.3px;
}

.convertButton:hover {
  cursor: pointer;
  background-color: #1e4c3f;
}

@media screen and (min-width: 550px) {
  .input {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .input {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  .input {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .input {
    width: 40%;
  }
}
