.quickConvertContainer {
  font-size: 1rem;
}

.input {
  margin: 0.7rem auto;
  width: 80%;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  border-style: solid;
  padding: 0.3rem;
}

.convertButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /* color: #2a5aa7; */
  border: 1px solid #2a5aa7;
  border-radius: 5px;
}

.convertButton:hover {
  cursor: pointer;
}
