.recipeResizerContainer {
  display: flex;
  flex-direction: column;
}

.textArea {
  border: 2px solid gray;
  font-size: 1rem;
}

@media screen and (min-width: 900px) {
  .recipeResizerContainer {
    flex-direction: row;
  }
}
