.container {
  max-width: 95%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: 100vh; */
  /* height: 100vh; */
  flex: 1 0 auto;
  padding: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 70%;
  }
}
