.quickConvertContainer {
  font-size: 1rem;
}

.input {
  margin: 1rem 0rem;
  width: 80%;
  font-size: 1rem;
  border: 2px solid gray;
  border-style: solid;
  padding: 0.2rem;
}

.convertButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #62a5a1;
}

.convertButton:hover {
  cursor: pointer;
}
