.input {
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1rem;
  margin-right: 1rem;
  padding: 5px;
}

.submitButton {
  padding: 0.5rem 1rem;
  background-color: none;
  border-color: tomato;
  border-radius: 5px;
}
