.temperatureContainer {
  margin-top: 2rem;
}

.input {
  font-size: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: 2px solid gray;
  padding: 0.3rem;
}

.submitButton {
  padding: 0.4rem 1rem;
  background-color: none;
  border: 2px solid #62a5a1;
  font-size: 1rem;
}

.submitButton:hover {
  cursor: pointer;
}
