.backgroundcolorContainer {
  background-color: #fbf7ed;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.RecipeConversionContainer {
  justify-content: center;
}

.title {
  text-align: center;
}
.textArea {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
}

.submitBtnContainer {
  text-align: center;
}

.submitButton {
  margin: 0.7rem 0.5rem 0.5rem 0.5rem;
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #388161;
  background-color: #388161;
  color: white;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #1e4c3f;
}

@media screen and (min-width: 500px) {
  .container {
    max-width: 70%;
  }
}

@media screen and (min-width: 600px) {
  .submitBtnContainer {
    max-width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .inputFormContainer {
    display: flex;
    flex-direction: row;
  }
  .RecipeConversionContainer {
    display: flex;
    flex-direction: row;
  }
  .submitBtnContainer {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
}
