.RecipeConversionContainer {
  display: flex;
  flex-direction: column;
}

.textArea {
  border: 2px solid gray;
  font-size: 1rem;
}

.submitButton {
  margin: 0.7rem 0.5rem 0.5rem 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 2px solid #62a5a1;
  font-size: 1rem;
}

.submitButton:hover {
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .RecipeConversionContainer {
    flex-direction: row;
  }
}
