.layoutContainer {
  margin: 0 auto;
  min-height: calc(100vh - 160px);
  overflow: hidden;
  display: block;
  position: relative;
}

p {
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
}
