.navbar {
  text-align: center;
  /* border-bottom: 1px solid gray; */
  color: #2a5aa7;
  margin-bottom: 3rem;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #eeeeee;
}

.navLinksContainer {
  max-width: 100%;
}

.title {
  text-decoration: none;
  font-weight: bold;
  color: #2a5aa7;
}
.title:hover {
  text-decoration: underline;
}

.navLinks {
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.7px;
}

.navLinks li {
  list-style-type: none;
  padding-right: 0.5rem;
}

.link {
  text-decoration: none;
  color: #2a5aa7;
}
.link:hover {
  text-decoration: underline;
}

/* @media screen and (min-width: 600px) {
  .title {
    text-align: center;
  }
} */
/* 
@media screen and (min-width: 400px) {
  .navLinksContainer {
    max-width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .navLinksContainer {
    max-width: 85%;
  }
}

@media screen and (min-width: 800px) {
  .navLinksContainer {
    max-width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .navLinksContainer {
    max-width: 70%;
  }

  .navLinks li {
    padding-right: 2rem;
  }
} */
