.footerContainer {
  text-align: center;
  margin-top: 5rem;
  padding: 0.6rem 0rem 0.1rem 0rem;
  font-size: 1rem;
  background-color: #62a5a1;
  letter-spacing: 0.3px;
}

.footerContent {
  color: whitesmoke;
  text-decoration: none;
  margin: 0.5rem;
  font-size: 0.9rem;
}

.footerContent:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #222;
}
