.footerContainer {
  /* background-color: blue; */
}

.footer {
  flex-shrink: 0;
  text-align: right;
  /* background-color: tomato; */
  color: white;
  /* padding: 1rem; */
  margin-top: 3rem;
  font-size: 0.9rem;
  border-top: 1px solid gray;
}
