.navbar {
  text-align: center;
  /* border-bottom: 1px solid gray; */
  margin-bottom: 3rem;
  background-color: #62a5a1;
  max-width: 100%;
  padding: 1rem 0rem 0.5rem 0rem;
  letter-spacing: 0.3px;
}

.titleContainer {
  font-size: 1.5rem;
}

.title {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.title:hover {
  text-decoration: underline;
}

.navLinks {
  display: inline-flex;
  flex-wrap: wrap;
  /* margin: 0 ; */
  text-transform: uppercase;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.navLinks li {
  list-style-type: none;
  padding-right: 2rem;
}

.link {
  color: whitesmoke;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: #222;
}

/* @media screen and (min-width: 600px) {
  .title {
    text-align: center;
  }
} */
