.backgroundcolorContainer {
  background-color: #e3ebf7;
}

.title,
.temperatureContainer {
  max-width: 90%;
  margin: 2rem auto;
}

.temperatureContainer {
  padding: 1.5rem;
}

.input {
  font-size: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
}

.submitButton {
  padding: 0.4rem 1rem;
  background-color: none;
  border: 1px solid #2a5aa7;
  border-radius: 5px;
  font-size: 1rem;
}

.submitButton:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .title,
  .temperatureContainer {
    max-width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .title,
  .temperatureContainer {
    max-width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .title,
  .temperatureContainer {
    max-width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .title,
  .temperatureContainer {
    max-width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .title,
  .temperatureContainer {
    max-width: 35%;
  }
}
