.backgroundcolorContainer {
  background-color: #fbf7ed;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.title {
  text-align: center;
}
.title,
.temperatureContainer {
  max-width: 90%;
  margin: 2rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  font-size: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.4rem;
}

.submitButton {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #388161;
  background-color: #388161;
  color: white;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #1e4c3f;
}

@media screen and (min-width: 500px) {
  .title,
  .temperatureContainer {
    max-width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .title,
  .temperatureContainer {
    max-width: 60%;
  }
}

@media screen and (min-width: 800px) {
  .title,
  .temperatureContainer {
    max-width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .title,
  .temperatureContainer {
    max-width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .title,
  .temperatureContainer {
    max-width: 35%;
  }
}
