.container {
  max-width: 90%;
  margin: 0 auto;
}

/* .farenheitContainer {
  background-color: #e3ebf7;
} */

.temperatureContainer {
  margin-top: 2rem;
}

.input {
  font-size: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.submitButton {
  padding: 0.4rem 1rem;
  background-color: none;
  border: 1px solid #2a5aa7;
  border-radius: 5px;
  font-size: 1rem;
}

.submitButton:hover {
  cursor: pointer;
}
