.container {
  max-width: 100%;
  /* margin: 0 auto; */
  font-family: Arial, Helvetica, sans-serif;
  /* flex: 1 0 auto; */
  /* display: flex; */
  min-height: 100vh;
  /* flex-direction: column; */
  /* background-color: aqua; */
}

/* .content {
  flex: 1 0 auto;
  width: 100%;
} */

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  /* min-height: 100vh; */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
